
<div class="container">
  <div class="jumbotron clearfix">
    <h1>Idea Box</h1>
    <div class="span4 col-centered">
      <h3 class="rotate idea-title">your idea</h3>
      <div class="idea-input">
        <form role="form" action="/" method="post">
          <div class="form-group">
            <input type="text" name="idea[title]" id="new-title" placeholder="title"/>
          </div>
          <div class="form-group">
            <textarea name="idea[description]" id="new-title" placeholder="description"></textarea><br/>
          </div>
          <div class="form-group">
            <input type="text" name="idea[tags]" id="new-tags" placeholder="tags(comma separated)"/><br/>
          </div>
          <input type="submit" class="btn btn-default"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <h4>Sort</h4>
      <div id="sort-list">
        <ul>
          <li><a href="/sort/title">By Title</a></li>
          <li><a href="/sort/rank">By Likes</a></li>
          <li><a href="/sort/tags">By First Tag Name</a></li>
          <li><a href="/sort/created_at">By Created At</a></li>
        </ul>
      </div>
    </div>
    <div class="span8">
      <h4>Filter</h4>
      <div id="filter-list">
        <ul>
          <li style="display: inline"><a href="/">all</a></li>
          <% tags.sort.each do |tag| %>
            <li style="display: inline"><a href="/filter/<%= tag %>"><%= tag %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <h2>Existing Ideas</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Likes</th>
        <th>Title</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Created At</th>
        <th>Edit</th>
        <th>Add Tag</th>
        <th>Like</th>
        <th>Delete</th>
      </tr>
    </thead>
  <% ideas.each_with_index do |idea, id| %>
    <tbody>
      <tr>
        <td><span class="badge badge-success"><%= idea.rank %></span></td>
        <td><%= idea.title %></td>
        <td><%= idea.description %></td>
        <td><%= idea.tags.join(", ") %></td>
        <td><%= idea.created_at %></td>
        <td><a href="/<%= idea.id %>/edit">Edit</a></td>
        <td>
          <form action="/<%= idea.id %>/add_tag" method="POST" style="display: inline-block">
            <input type="text" name="idea[tag]" placeholder="Add tags" style="width: 100px"/>
            <input type="submit" value="+" class="btn btn-default btn-sm"/>
          </form>
        </td>
        <td>
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <input type='submit' value="Like" class="btn btn-default btn-sm"/>
          </form>
        </td>
        <td>
          <form action="/<%= idea.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="delete" class="btn btn-danger btn-sm"/>
          </form>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>
